.calculator {
    display: grid;
    min-height: 100vh;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(120px, auto) repeat(5, 80px);
}

button {
    font-size: 3em;
    cursor: pointer;
    background: none;
    border: 1px solid white;
    padding: 0;
    font-family: inherit;
    user-select: none;
    cursor: pointer;
    outline: none;
    background-color: rgb(207, 202, 202);
    /* background: linear-gradient(to bottom, rgba(252, 156, 23, 1) 0%, rgba(247, 126, 27, 1) 100%); */
}

.operator {
    background-color: rgb(255, 156, 74);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    /* background-color: black; */
    background: #1c191c;
    color: honeydew;
    /* font-size: 5em; */
    /* font-size: calc(4vw + 4vh + 2vmin); */
    line-height: 130px;
    /* width: 392px; */
    /* transform: scale(1, 1) */
    display: flex;
    align-items: flex-end;
}